# Aslında bu proje için .gitignore çok gerekli olmadığını düşünebilirsin. Lakin her ihtimale karşı bir .gitignore koymak,
# gelecekte yapabileceğin yanlış bir yüklemeyi reddecektir ve işin en ustasına bile en azından dakikalar kazandıracaktır.
# Ayrıca bu projeye bir .gitignore koymak, senin için de iyi bir örnek olacaktır. Kabaca dosyanın yapısını inceleyebilirsin. <3

# OS Files
.DS_Store
Thumbs.db

# Editor Files
.vscode/
.idea/
*.swp
*.swo

# Project Specific
*.log